@import "tailwindcss";
@plugin 'daisyui';

:root {
  --color-primary: #0d9488;
  --color-secondary: #f59e0b;
  --color-background: #f8fafc;
  --color-dark: #0f172a;
  --color-gray: #475569;
  --color-pure-white: #ffffff;
}
@theme {
  --color-primary: #0d9488;
  --color-secondary: #f59e0b;
  --color-background: #f8fafc;
  --color-dark: #0f172a;
  --color-gray: #475569;
  --color-pure-white: #ffffff;
}

@utility shadow-custom {
  box-shadow:
    0 10px 30px -5px rgba(15, 23, 42, 0.03),
    0 4px 12px -2px rgba(15, 23, 42, 0.01);
}
@utility shadow-card {
  box-shadow: 0 4px 14px rgba(15, 23, 42, 0.06);
}

@utility btn-custom {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(0.95);
  }
}

@utility box-custom {
  border-radius: 32px;
  border: none;
  box-shadow:
    0 8px 20px -4px rgba(15, 23, 42, 0.04),
    0 3px 8px -1px rgba(15, 23, 42, 0.02);
}

@utility input-custom {
  background-color: var(--color-pure-white);
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  color: var(--color-dark);
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px 0px rgba(15, 23, 42, 0.015);
  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(13, 148, 136, 0.12);
  }
}

@utility scrollbar {
  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
    border: 1px solid #0f172a;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #475569;
    border: 2px solid #ffffff;
    border-radius: 10px;
  }
}

@utility text-shadow-glow {
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.7),
    0 0 2px rgba(0, 0, 0, 0.9);
}

@media (max-height: 720px) {
  .hide-on-short-screen {
    display: none !important;
  }
}

/* Dashboard */
@utility flex-col-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* MapOverview */
@utility card-map-theme {
  background: linear-gradient(to bottom, #bce3de, #a3d5cf);
  border-radius: 32px;
  padding: 1.25rem;
  box-shadow: var(--shadow-custom);
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.002);
  }
}
@utility card-achieve-theme {
  background: linear-gradient(to bottom right, #eab308, #eab308, #d97706);
  border-radius: 32px;
  padding: 1.25rem;
  box-shadow: var(--shadow-custom);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--color-dark);
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.002);
  }
}
